{% extends 'base.html' %}
{% block title %}ログ編集{% endblock %}
{% block content %}
<h1>ログを編集</h1>
<!-- 編集フォーム -->
<form method="post" id="editWorkoutForm">
  <table>
    <tr>
      <td>日付：</td>
      <td><input type="date" name="date" value="{{ workout.date }}"></td>
    </tr>
    <tr>
      <td>種目：</td>
      <td>
        <!-- 種目を選択 -->
        <select name="exercise_id">
          {% for e in exercises %}
          <option value="{{ e.id }}" {% if e.id==workout.exercise_id %}selected{% endif %}>{{ e.name }}（{{
            e.muscle_group }}）</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <td>セット数：</td>
      <td><input type="number" name="sets" value="{{ workout.sets }}" required></td>
    </tr>
    <tr>
      <td>回数：</td>
      <td><input type="number" name="reps" value="{{ workout.reps }}" required></td>
    </tr>
    <tr>
      <td>片手重量(kg)：</td>
      <td><input type="number" name="weight" step="0.5" value="{{ workout.weight }}" required></td>
    </tr>
    <tr>
      <td>強度：</td>
      <td>
        <select name="intensity">
          <option value="高" {% if workout.intensity=='高' %}selected{% endif %}>高</option>
          <option value="良" {% if workout.intensity=='良' %}selected{% endif %}>良</option>
          <option value="低" {% if workout.intensity=='低' %}selected{% endif %}>低</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>備考：</td>
      <td><input type="text" name="note" value="{{ workout.note }}"></td>
    </tr>
  </table>
  <button type="submit">更新</button>
</form>
{% endblock %}
